**/*__pycache__
**/*.DS_Store
**/*.ipynb_checkpoints
**/*.csv
**/*.parquet
**/*.json
**/*.pdf
credentials
**/*mount_folder
**/*data_pgadmin
**/*ny_taxi_postgres_data
**/*.terraform
**/*.terraform-version
**/*.terraform.lock.hcl
